/*header*/


*{
	font-family:  "Segoe UI", Arial, sans-serif;
	font-size: 13px;
	font-weight: 600px;
	color: whitesmoke;
}
.header{
	 display: flex;
	 flex-wrap: wrap;
	 margin-left: 2.5%;	
}

#logo{
	width: 13.2%;
	padding: 16px;
	height: 5%;
	
}
.header h4{
	 color:lightgrey;
	 position: relative;
	 font-size: 1.2rem;
     padding: 30px;
	 font-weight: 600;
	 margin-top:1%;

	
}
form{
    right:16%;
    width: 23%;
    position: absolute;
    margin:2.6%;
    line-height: 1em;
    background-color: #13193f;
    border-radius: 10px;
    padding: 6px;
}
#search{
	background:transparent ;
	border-style: none;
}
.magnifier{

	color: whitesmoke;
    padding: 2px;

}
.microphone{
	color:#93a8b3;
	position: absolute;
	padding: 7px;
	right: 1%;
	
}
@keyframes ringing_bell {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}
/* notification bell image */
.notification-bell img {
	position: absolute;
    width: 20px;
    height: 23px;
    animation-name: ringing_bell;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    right:15%;
    top:5.5%;
}
#ADMieola{
	position: absolute;
	max-width: 100%;
	width: 3.4%;
	height: 5.3%;
	border-radius: 50%;
	right: 8%;
	top: 3.6%;
}

/*main.............................*/
/*	Aside Section.........................*/
#Queue-font{
	font-size: 25px;
	color: whitesmoke;
}
.aside{
	 display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    width: 27%;
/*    border: 2px solid white;*/
    float: right;
    position: relative;
    right: 0%;
    top: 8%;
    
}
aside {
    vertical-align: top;
    margin-right: 3%;
    width: 27%;
/*    border: 2px solid white;*/
    float: right;
    position: fixed;
    right: 0%;
    top: 20%;
    height: 63vh;

/*    height: 85vh;*/
    overflow: scroll;
}
.Queue-list{
	width: 90%;
	position: relative;
/*	border: 1px solid white;*/
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: auto;
}
aside span{
	color: whitesmoke;
	align-content: center;
	text-align:center ;
	position: sticky !important;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 10px 0px 5px;
	font-size: 11px;
/*	align-items: center;*/

}
aside::-webkit-scrollbar {
    display: none;
}
aside span p{
		font-size: 10px ;
		padding: 0px 0px 0px 10px;
}
.Queue-list img{
    height: 40px;
    width: 40px;
    border-radius: 3px;
	}
.fa-heart{
	position: absolute;
	right: 2%;

	}
.heart:hover{
	color: red;
	text-shadow:  0px 0px 10px whitesmoke;
	cursor: pointer;
}	
.play-button-queue{
	background-color: black;
	height: 40px;
	width: 30px;
    border-radius: 3px;
	opacity: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	right:80% ;



}
.play-button-queue:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
.Queue-list-options {
    position: relative;
    display: flex;
	flex-wrap: wrap;
	justify-content: right;

}
#Queue-font {
	left: 70%;
	top: 12%;
	position:fixed;
    display: flex;
	flex-wrap: wrap;
 }
 #Queue{
 	left: 90%;
 	position: fixed;
 	font-size: 20px;
 	padding: 10px;
 	color: #fa3cff;
 	font-weight: 600;

 }

.Queue-dropdown {
    position: absolute;
    background-color: darkslateblue;
    display: inline-block;
    opacity: 0;
    width: 0px;
    height: 0px;
    top: 40px;
    right: 0px;
    overflow: hidden;
    z-index: 2;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 1px black;
    transition: all ease-in-out 0.3s;
    border-radius: 2px;
}
.fa-chevron-down {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ .Queue-dropdown {
    width: 150px;
    height: auto;
    opacity: 1;
    padding: 5px;
}

/*	Genres.........................*/
.Genres{
	width: 65%;
	margin: 3%;
	margin-top: 0%;
	display: flex;
	flex-wrap:wrap ;
/*	border: 2px solid white;*/
	justify-content: space-evenly;

	

}
.Genres img{
	margin: 10px;
	 transition: 0.4s ease-in-out all;
/*	 border-radius: 5px;*/
	height:250px ;



}
.Genres img:hover{
   filter: brightness(130%);
   transform: scale(1.12);

}


/*Latest Release............................*/

.font{
	color: whitesmoke;
	margin-left: 3%;
	}

.latest-release {
    position: relative;
    height: auto;
    width: 65%;
    margin-left: 3%;
     display: flex;
    flex-wrap: wrap;
}
.card {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow ease-in-out 0.1s;
    height: 100px;
    width: 47%;
    margin:0.5%;
}
.card:hover {
    box-shadow: 0px 0px 2px 1px white;
}
.card img {
    width: 100px;
    height: 100px;
    z-index: 1;
}
.play-button{
	position: relative;
	background-color: black;
/*	align-content: center;*/
	width: 100px;
    height: 100px;
    top: -51%;
	display: flex;
	opacity: 0;
	align-items: center;
	justify-content: center;
  	/*top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-shadow: 1px 1px black;*/

}
.play-button:hover{
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.6);
}
.song-description {
   color: whitesmoke;
		position: absolute;
  		top: 50%;
  		left: 40%;
  		transform: translate(-50%, -50%);
}
.options {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2%;
    text-align: left;

}
.latest-release-dropdown {
    position: absolute;
    background-color: darkslateblue;
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    top: 20px;
    right: 0px;
    overflow: hidden;
    z-index: 2;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 1px black;
    transition: all ease-in-out 0.3s;
    border-radius: 2px;

}
.fa-ellipsis-h {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ .latest-release-dropdown {
    width: 150px;
    height: auto;
    opacity: 1;
    padding: 5px;
}
/*	Popular-Artist.........................*/
	.Popular-Artist{
		width: 65%;
		height: auto;
		position: relative;
		margin-left: 3%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.Artist-containers{
		width:16%;
/*		border: 2px solid white ;*/
		min-height: 120px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		text-align: center;
		color: whitesmoke;

	}
	.Artist-containers img{
		width: 130px;
	    border-radius: 50%;
	}
	.Artist-containers:hover img{
		filter: brightness(70%);
		transition: 0.2s ease-in-out all;
		cursor: pointer;
	}
/*stations............................*/
	.stations{
		width: 65%;
		position: relative;
		margin-left: 3%;
		margin-top: 2%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		background-color: #13193f;
	   justify-content: space-between;
		
	}
	.stations-list{
		position: relative;
		width: 10%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		height: 120px;
		max-height: 130px;
		padding: 1px;


	}
	.stations-list img{
		height: 80px;
		align-content: center;
		border-radius: 50%;
		filter: brightness(50%);
	
	}
	.single{
		width: 20%;
		align-content: center;
	}
	#single{
		height:auto ;
		width: 200px;
		filter: brightness(100%);
	}
	.station-text{
/*		text-align: center;*/
		color: whitesmoke;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		text-shadow: 1px 1px black;
	}
	/*Mood............................*/

	#Mood{

		width: 65%;
		position: relative;
		margin-left: 3%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 2%;
	}
	.Mood{
		min-height: 120px;
		width: 31.5%;
/*		border: 2px solid white;*/
		position: relative;
		overflow: hidden;
		transition: 0.4s ease-in-out all;
	}
	.Mood img{
		height: 120px;
		width: 260px;
		transition: 0.4s ease-in-out all;
	}
	.Mood-text{
/*		text-align: center;*/
		color: whitesmoke;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		text-shadow: 1px 1px black;
  		font-weight: 600;
  		font-size: 18px;
	}
	.Mood img:hover{
		transform: scale(1.2);
		transition: 0.4s ease-in-out all;
	}
/*latest-english and Hindi.I am using same class for both............................  .....................*/
	#latest-english-hindi{
		width: 65%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 3%;
		margin-right: 2%;
/*		border: 2px solid white;*/
        justify-content: space-between;
	}
	.latest-english-hindi-list{
		min-height: 160px;
		width:16%;
/*		border: 2px solid white ;*/
		display: flex;
		flex-wrap: wrap;
		transition: 0.2s ease-in-out all;
	}
	.latest-english-hindi-list img{
		height: 125px;
		width: auto;
		border-radius: 1px;
	}
	.latest-english-hindi-list span{
		color: whitesmoke;
		font-size: 5px !important;
	}

    .latest-english-hindi-list:hover img{
    	box-shadow: 0px 0px 10px 1px whitesmoke;
    	transition: 0.2s ease-in-out all;
    }
	/* music-player ---------------------------------------------------*/
	#footer{
		position: relative;
		/* border: 2px solid red; */
		margin-top: 10%;
	}
	.music-player{
		width: 99%;
		background-color: #13193f;
		position: fixed;
		/* vertical-align: bottom; */
		min-height: 100px;
		/* border: 2px solid white; */
		display: flex;
		flex-wrap:wrap ;
		z-index: 9;
		float: bottom;
		justify-content: space-between;
		box-sizing: border-box;
		bottom: 0.1px;
	}
	#song-description2{
		width:20%;
		display: flex;
		flex-wrap:wrap ;
		/* justify-content: center; */
		align-items: center;
		/* border: 2px solid wheat; */
		position: relative;	
		
	}
	#song-description2 img{
		height: 80px;
		position: relative;
		padding: 0px 28px 0px 28px;	
			
	}
	.music{
		top: 1%;
		position: absolute;
		margin:15px;
		right: 5%;
		cursor: pointer;
		
	}
	.music1{
		top: 1%;
		position: absolute;
		margin:15px;
		right: 15%;
		cursor: pointer;
		
	}
	.player {
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
	}
	.controls {
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
	}
	#slider {
		width: 100%;
		font-size: 12px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		margin-top: 5px;
	}
	.time {
		margin: 0px 10px;
	}
	
	.slidecontainer {
		width: 100%;
	}
	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 5px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.5;
		-webkit-transition: 0.2s;
		transition: opacity 0.2s;
	}

	.slider:hover {
		opacity: 1;
	}
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: #007bff;
		cursor: pointer;
	}
	.slider::-moz-range-thumb {
		width: 25px;
		height: 25px;
		background: #4caf50;
		cursor: pointer;
	}
	.music-icons {
		width: 20%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	/* music-player ---------------------------------------------------*/

/*main end*/
@media only screen and (max-width: 576px){

.header{
	 display: flex;
	 flex-wrap:wrap ;
	 margin-left: 2.5%;
	 

}
#logo{
	width: 30%;
	height: auto;
	margin-left: -3%;
}
.header h3{
	 color:lightgrey;
	 position: absolute;
	 top:3%;
}
form{
    width: 45%;
    position: absolute;
    margin:2.6%;
    background-color: #13193f;
    border-radius: 10px;
    padding: 5px;
    top: 2%;
}
#search{
	background:transparent ;
	border-style: none;
}
.magnifier{

	color: whitesmoke;
    padding: 2px;

}
.microphone{
	color:#93a8b3;
	position: absolute;
	padding: 7px;
	right: 1%;
	
}
.fa-bell{
	position: absolute;
	color:whitesmoke;
	right: 12%;
	top: 5.5%;
}
#dot{
	color: red;
	position: absolute;
	font-weight: 900;
	font-size: 2.5rem;
	right: 11%;
	top: 0.1%;
}
#ADMieola{
	position: absolute;
	max-width: 100%;
	width: 35px;
	height: auto;
	border-radius: 50%;
	right: 3%;
	top: 3.8%;
}
/*main.............................*/
/*	Aside Section.........................*/
#Queue-font{
	font-size: 25px;
	color: whitesmoke;
}
.aside{
	 display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    width: 30%;
/*    border: 2px solid white;*/
    float: right;
    position: relative;
    right: 0%;
    top: 8%;
    
}
aside {
    vertical-align: top;
    margin-right: 3%;
    width: 29%;
/*    border: 2px solid white;*/
    float: right;
    position: fixed;
    right: 0%;
    top: 20%;
    height: 63vh;

/*    height: 85vh;*/
    overflow: scroll;
}
.Queue-list{
	width: 90%;
	position: relative;
/*	border: 1px solid white;*/
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: auto;
}
aside span{
	color: whitesmoke;
	align-content: center;
	text-align:center ;
	position: sticky !important;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 10px 0px 5px;
	font-size: 11px;
/*	align-items: center;*/

}
aside::-webkit-scrollbar {
    display: none;
}
aside span p{
		font-size: 10px ;
		padding: 0px 0px 0px 10px;
		position: relative;
}
.Queue-list img{
    height: 40px;
    width: 40px;
    border-radius: 3px;
	position: relative;
	}
.fa-heart{
	position: absolute;
	right: 2%;

	}
.heart:hover{
	color: red;
	text-shadow:  0px 0px 10px whitesmoke;
	cursor: pointer;
}	
.play-button-queue{
	background-color: black;
	height: 40px;
	width: 30px;
    border-radius: 3px;
	opacity: 0;
	align-items: center;
	justify-content: center;
	position: absolute;
	right:80% ;



}
.play-button-queue:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
.Queue-list-options {
    position: fixed;
    display: flex;
	flex-wrap: wrap;
	justify-content: right;
	left: 60%;
	z-index: 1;

}
#Queue-font {
	left: 70%;
	top: 12%;
	position:fixed;
    display: flex;
	flex-wrap: wrap;
 }
 #Queue{
 	left: 85%;
 	position: fixed;
 	font-size: 20px;
 	padding: 10px;
 	color: #fa3cff;
 	font-weight: 600;

 }

.Queue-dropdown {
    position: relative;
    background-color: darkslateblue;
    display: inline-block;
    opacity: 0;
    width: 0px;
    height: 0px;
    top: 65px;
    right: 0px;
    overflow: hidden;
    z-index: 2;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 1px black;
    transition: all ease-in-out 0.3s;
    border-radius: 2px;
	padding-top: 30px;
}
.fa-chevron-down {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ .Queue-dropdown {
    width: 150px;
    height: auto;
    opacity: 1;
    padding: 5px;
}

/*	Genres.........................*/
.Genres{
	width: 65%;
	margin: 3%;
	margin-top: 0%;
	display: flex;
	flex-wrap:wrap ;
/*	border: 2px solid white;*/
	justify-content: space-evenly;

	

}
.Genres img{
	margin: 10px;
	 transition: 0.4s ease-in-out all;
/*	 border-radius: 5px;*/
	height:250px ;



}
.Genres img:hover{
   filter: brightness(130%);
   transform: scale(1.12);

}


/*Latest Release............................*/

.font{
	color: whitesmoke;
	margin-left: 3%;
	}

.latest-release {
    position: relative;
    height: auto;
    width: 60%;
    margin-left: 3%;
     display: flex;
    flex-wrap: wrap;
}
.card {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow ease-in-out 0.1s;
    height: 100px;
    width: 47%;
    margin:0.5%;
}
.card:hover {
    box-shadow: 0px 0px 2px 1px white;
}
.card img {
    width: 60px;
    height: 60px;
    z-index: 1;
}
.play-button{
	position: relative;
	background-color: black;
/*	align-content: center;*/
	width: 50px;
    height: 50px;
    top: -51%;
	display: flex;
	opacity: 0;
	align-items: center;
	justify-content: center;
  	/*top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-shadow: 1px 1px black;*/

}
.play-button:hover{
	opacity: 1;
	width: 60px;
    height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
}
.song-description{
		display: flex;
		left: 35%;
		top: 80%;
		justify-content: space-between;
		/* position: absolute;
		text-align: left;
  		top: 50%;
  		left: 35%;
  		transform: translate(-50%, -50%); */
}
.options {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2%;
    text-align: left;

}
.latest-release-dropdown {
    position: absolute;
    background-color: darkslateblue;
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    top: 20px;
    right: 0px;
    overflow: hidden;
    z-index: 2;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 1px black;
    transition: all ease-in-out 0.3s;
    border-radius: 2px;

}
.fa-ellipsis-h {
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ .latest-release-dropdown {
    width: 150px;
    height: auto;
    opacity: 1;
    padding: 5px;
}
/*	Popular-Artist.........................*/
	.Popular-Artist{
		width: 60%;
		height: auto;
		position: relative;
		margin-left: 3%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.Artist-containers{
		width:30%;
/*		border: 2px solid white ;*/
		min-height: 130px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		text-align: center;
		color: whitesmoke;

	}
	.Artist-containers img{
		width: 80px;
	    border-radius: 50%;
	}
	.Artist-containers:hover img{
		filter: brightness(70%);
		transition: 0.2s ease-in-out all;
		cursor: pointer;
	}
/*stations............................*/
	.stations{
		width: 60%;
		position: relative;
		margin-left: 3%;
		margin-top: 2%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		background-color: #13193f;
	   justify-content: space-evenly;
	   border-radius: 20px;
		
	}
	.stations-list{
		position: relative;
		width: 25%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		min-height: 120px;
		max-height: 130px;
		


	}
	.stations-list img{
		height: 80px;
		align-content: center;
		border-radius: 50%;
		filter: brightness(50%);
	
	}
	.single{
		width: 90%;
		align-content: center;
		display: flex;
		justify-content: center;
	}
	#single{
		height:auto ;
		width: 200px;

		filter: brightness(100%);
	}
	.station-text{
/*		text-align: center;*/
		color: whitesmoke;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		text-shadow: 1px 1px black;
	}
	/*Mood............................*/

	#Mood{

		width: 60%;
		position: relative;
		margin-left: 3%;
/*		border: 2px solid white;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 2%;
	}
	.Mood{
		min-height: 60px;
		width: 31.5%;
/*		border: 2px solid white;*/
		position: relative;
		overflow: hidden;
		transition: 0.4s ease-in-out all;
	}
	.Mood img{
		height: 60px;
		width: 260px;
		transition: 0.4s ease-in-out all;
	}
	.Mood-text{
/*		text-align: center;*/
		color: whitesmoke;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		text-shadow: 1px 1px black;
  		font-weight: 600;
  		font-size: 12px;
	}
	.Mood img:hover{
		transform: scale(1.2);
		transition: 0.4s ease-in-out all;
	}
/*latest-english and Hindi.I am using same class for both............................  .....................*/
	#latest-english-hindi{
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 3%;
		margin-right: 2%;
/*		border: 2px solid white;*/
        justify-content: space-between;
	}
	.latest-english-hindi-list{
		min-height: 160px;
		width:30%;
/*		border: 2px solid white ;*/
		display: flex;
		flex-wrap: wrap;
		transition: 0.2s ease-in-out all;
	}
	.latest-english-hindi-list img{
		height: 80px;
		width: auto;
		border-radius: 1px;
	}
	.latest-english-hindi-list span{
		color: whitesmoke;
		font-size: 5px !important;
	}

    .latest-english-hindi-list:hover img{
    	box-shadow: 0px 0px 10px 1px whitesmoke;
    	transition: 0.2s ease-in-out all;
    }
	/* music-player ---------------------------------------------------*/
	#footer{
		position: relative;
		/* border: 2px solid red; */
		margin-top: 10%;
	}
	.music-player{
		width: 99%;
		height: 10%;
		background-color: #13193f;
		position: fixed;
		/* vertical-align: bottom; */
		min-height: 100px;
		/* border: 2px solid white; */
		display: flex;
		flex-wrap:wrap ;
		z-index: 9;
		float: bottom;
		justify-content: space-between;
		box-sizing: border-box;
		bottom: 0.1px;
	}
	#song-description2{
		width:20%;
		display: flex;
		flex-wrap:wrap ;
		/* justify-content: center; */
		align-items: center;
		/* border: 2px solid wheat; */
		position: absolute	
		justify-content: center;
		
	}
	#song-description2 img{
		height: 60px;
		position: relative;
		padding: 0px 28px 0px 28px;	
			
	}
	.music{
		top: 1%;
		position: absolute;
		margin:15px;
		left: 100%;
		cursor: pointer;
		
	}
	.music1{
		top: 1%;
		position: absolute;
		margin:15px;
		left: 80%;
		cursor: pointer;
		
	}
	.player {
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
	}
	.controls {
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
	}
	#slider {
		width: 100%;
		font-size: 12px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		margin-top: 5px;
	}
	.time {
		margin: 0px 10px;
	}
	
	.slidecontainer {
		width: 100%;
	}
	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 5px;
		background: #d3d3d3;
		outline: none;
		opacity: 0.5;
		-webkit-transition: 0.2s;
		transition: opacity 0.2s;
	}

	.slider:hover {
		opacity: 1;
	}
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: #007bff;
		cursor: pointer;
	}
	.slider::-moz-range-thumb {
		width: 25px;
		height: 25px;
		background: #4caf50;
		cursor: pointer;
	}
	.music-icons {
		width: 30%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}
@media only screen and (max-width: 768px){

	.header{
		 display: flex;
		 flex-wrap:wrap ;
		 margin-left: 2.5%;
		 
	
	}
	#logo{
		width: 30%;
		height: auto;
		margin-left: -3%;
	}
	.header h3{
		 color:lightgrey;
		 position: absolute;
		 top:10%;
	}
	form{
		width: 45%;
		position: absolute;
		margin:2.6%;
		background-color: #13193f;
		border-radius: 10px;
		padding: 5px;
		top: 2%;
	}
	#search{
		background:transparent ;
		border-style: none;
	}
	.magnifier{
	
		color: whitesmoke;
		padding: 2px;
	
	}
	.microphone{
		color:#93a8b3;
		position: absolute;
		padding: 7px;
		right: 1%;
		
	}
	.fa-bell{
		position: absolute;
		color:whitesmoke;
		right: 12%;
		top: 5.5%;
	}
	#dot{
		color: red;
		position: absolute;
		font-weight: 900;
		font-size: 2.5rem;
		right: 11%;
		top: 0.1%;
	}
	#ADMieola{
		position: absolute;
		max-width: 100%;
		width: 35px;
		height: auto;
		border-radius: 50%;
		right: 3%;
		top: 3.8%;
	}
	/*main.............................*/
	/*	Aside Section.........................*/
	#Queue-font{
		font-size: 25px;
		color: whitesmoke;
	}
	.aside{
		 display: inline-block;
		vertical-align: top;
		margin-right: 3%;
		width: 30%;
	/*    border: 2px solid white;*/
		float: right;
		position: relative;
		right: 0%;
		top: 8%;
		
	}
	aside {
		vertical-align: top;
		margin-right: 3%;
		width: 29%;
	/*    border: 2px solid white;*/
		float: right;
		position: fixed;
		right: 0%;
		top: 20%;
		height: 63vh;
	
	/*    height: 85vh;*/
		overflow: scroll;
	}
	.Queue-list{
		width: 90%;
		position: relative;
	/*	border: 1px solid white;*/
		min-height: 50px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: auto;
	}
	aside span{
		color: whitesmoke;
		align-content: center;
		text-align:center ;
		position: sticky !important;
		display: flex;
		flex-wrap: wrap;
		padding: 0px 10px 0px 5px;
		font-size: 11px;
	/*	align-items: center;*/
	
	}
	aside::-webkit-scrollbar {
		display: none;
	}
	aside span p{
			font-size: 10px ;
			padding: 0px 0px 0px 10px;
			position: relative;
	}
	.Queue-list img{
		height: 40px;
		width: 40px;
		border-radius: 3px;
		position: relative;
		}
	.fa-heart{
		position: absolute;
		right: 2%;
	
		}
	.heart:hover{
		color: red;
		text-shadow:  0px 0px 10px whitesmoke;
		cursor: pointer;
	}	
	.play-button-queue{
		background-color: black;
		height: 40px;
		width: 30px;
		border-radius: 3px;
		opacity: 0;
		align-items: center;
		justify-content: center;
		position: absolute;
		right:80% ;
	
	
	
	}
	.play-button-queue:hover {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.Queue-list-options {
		position: fixed;
		display: flex;
		flex-wrap: wrap;
		justify-content: right;
		left: 76%;
		z-index: 1;
	
	}
	#Queue-font {
		left: 70%;
		top: 12%;
		position:fixed;
		display: flex;
		flex-wrap: wrap;
	 }
	 #Queue{
		 left: 85%;
		 position: fixed;
		 font-size: 20px;
		 padding: 10px;
		 color: #fa3cff;
		 font-weight: 600;
	
	 }
	
	.Queue-dropdown {
		position: relative;
		background-color: darkslateblue;
		display: inline-block;
		opacity: 0;
		width: 0px;
		height: 0px;
		top: 45px;
		right: 0px;
		overflow: hidden;
		z-index: 2;
		border: 1px solid black;
		box-shadow: 0px 0px 2px 1px black;
		transition: all ease-in-out 0.3s;
		border-radius: 2px;
		padding-top: 30px;
	}
	.fa-chevron-down {
		cursor: pointer;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"]:checked ~ .Queue-dropdown {
		width: 150px;
		height: auto;
		opacity: 1;
		padding: 5px;
	}
	
	/*	Genres.........................*/
	.Genres{
		width: 65%;
		margin: 3%;
		margin-top: 0%;
		display: flex;
		flex-wrap:wrap ;
	/*	border: 2px solid white;*/
		justify-content: space-evenly;
	
		
	
	}
	.Genres img{
		margin: 10px;
		 transition: 0.4s ease-in-out all;
	/*	 border-radius: 5px;*/
		height:250px ;
	
	
	
	}
	.Genres img:hover{
	   filter: brightness(130%);
	   transform: scale(1.12);
	
	}
	
	
	/*Latest Release............................*/
	
	.font{
		color: whitesmoke;
		margin-left: 3%;
		}
	
	.latest-release {
		position: relative;
		height: auto;
		width: 65%;
		margin-left: 3%;
		 display: flex;
		flex-wrap: wrap;
	}
	.card {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		transition: box-shadow ease-in-out 0.1s;
		height: 100px;
		width: 47%;
		margin:0.5%;
	}
	.card:hover {
		box-shadow: 0px 0px 2px 1px white;
	}
	.card img {
		width: 60px;
		height: 60px;
		z-index: 1;
	}
	.play-button{
		position: relative;
		background-color: black;
	/*	align-content: center;*/
		width: 50px;
		height: 50px;
		top: -51%;
		display: flex;
		opacity: 0;
		align-items: center;
		justify-content: center;
		  /*top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  text-shadow: 1px 1px black;*/
	
	}
	.play-button:hover{
		opacity: 1;
		width: 60px;
		height: 60px;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.song-description{
			display: flex;
			left: 28%;
			top: 80%;
			justify-content: space-between;
			/* position: absolute;
			text-align: left;
			  top: 50%;
			  left: 35%;
			  transform: translate(-50%, -50%); */
	}
	.options {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap-reverse;
		text-align: right;
		margin-left: auto;
		margin-right: 2%;
		margin-top: 2%;
		text-align: left;
	
	}
	.latest-release-dropdown {
		position: absolute;
		background-color: darkslateblue;
		display: block;
		opacity: 0;
		width: 0px;
		height: 0px;
		top: 20px;
		right: 0px;
		overflow: hidden;
		z-index: 2;
		border: 1px solid black;
		box-shadow: 0px 0px 2px 1px black;
		transition: all ease-in-out 0.3s;
		border-radius: 2px;
	
	}
	.fa-ellipsis-h {
		cursor: pointer;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"]:checked ~ .latest-release-dropdown {
		width: 150px;
		height: auto;
		opacity: 1;
		padding: 5px;
	}
	/*	Popular-Artist.........................*/
		.Popular-Artist{
			width: 60%;
			height: auto;
			position: relative;
			margin-left: 3%;
	/*		border: 2px solid white;*/
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.Artist-containers{
			width:30%;
	/*		border: 2px solid white ;*/
			height: 160px;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			text-align: center;
			color: whitesmoke;
	
		}
		.Artist-containers img{
			width: 120px;
			border-radius: 50%;
		}
		.Artist-containers:hover img{
			filter: brightness(70%);
			transition: 0.2s ease-in-out all;
			cursor: pointer;
		}
	/*stations............................*/
		.stations{
			width: 60%;
			position: relative;
			margin-left: 3%;
			margin-top: 2%;
	/*		border: 2px solid white;*/
			display: flex;
			flex-wrap: wrap;
			background-color: #13193f;
		   justify-content: space-evenly;
		   border-radius: 20px;
			
		}
		.stations-list{
			position: relative;
			width: 25%;
	/*		border: 2px solid white;*/
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			min-height: 120px;
			max-height: 130px;
			
	
	
		}
		.stations-list img{
			height: 100px;
			align-content: center;
			border-radius: 50%;
			filter: brightness(50%);
		
		}
		.single{
			width: 90%;
			align-content: center;
			display: flex;
			justify-content: center;
		}
		#single{
			height:auto ;
			width: 200px;
	
			filter: brightness(100%);
		}
		.station-text{
	/*		text-align: center;*/
			color: whitesmoke;
			position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  text-shadow: 1px 1px black;
		}
		/*Mood............................*/
	
		#Mood{
	
			width: 60%;
			position: relative;
			margin-left: 3%;
	/*		border: 2px solid white;*/
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 2%;
		}
		.Mood{
			min-height: 60px;
			width: 31.5%;
	/*		border: 2px solid white;*/
			position: relative;
			overflow: hidden;
			transition: 0.4s ease-in-out all;
		}
		.Mood img{
			height: 80px;
			width: 260px;
			transition: 0.4s ease-in-out all;
		}
		.Mood-text{
	/*		text-align: center;*/
			color: whitesmoke;
			position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  text-shadow: 1px 1px black;
			  font-weight: 600;
			  font-size: 12px;
		}
		.Mood img:hover{
			transform: scale(1.2);
			transition: 0.4s ease-in-out all;
		}
	/*latest-english and Hindi.I am using same class for both............................  .....................*/
		#latest-english-hindi{
			width: 60%;
			display: flex;
			flex-wrap: wrap;
			margin-left: 3%;
			margin-right: 2%;
	/*		border: 2px solid white;*/
			justify-content: space-between;
		}
		.latest-english-hindi-list{
			min-height: 250px;
			width:30%;
	/*		border: 2px solid white ;*/
			display: flex;
			flex-wrap: wrap;
			transition: 0.2s ease-in-out all;
		}
		.latest-english-hindi-list img{
			height: 150px;
			width: auto;
			border-radius: 1px;
		}
		.latest-english-hindi-list span{
			color: whitesmoke;
			font-size: 5px !important;
		}
	
		.latest-english-hindi-list:hover img{
			box-shadow: 0px 0px 10px 1px whitesmoke;
			transition: 0.2s ease-in-out all;
		}
		/* music-player ---------------------------------------------------*/
		#footer{
			position: relative;
			/* border: 2px solid red; */
			margin-top: 10%;
		}
		.music-player{
			width: 99%;
			height: 10%;
			background-color: #13193f;
			position: fixed;
			/* vertical-align: bottom; */
			min-height: 100px;
			/* border: 2px solid white; */
			display: flex;
			flex-wrap:wrap ;
			z-index: 9;
			float: bottom;
			justify-content: space-between;
			box-sizing: border-box;
			bottom: 0.1px;
		}
		#song-description2{
			width:20%;
			display: flex;
			flex-wrap:wrap ;
			/* justify-content: center; */
			align-items: center;
			/* border: 2px solid wheat; */
			position: absolute	
			justify-content: center;
			
		}
		#song-description2 img{
			height: 60px;
			position: relative;
			padding: 0px 28px 0px 28px;	
				
		}
		.music{
			top: 1%;
			position: absolute;
			margin:15px;
			left: 100%;
			cursor: pointer;
			
		}
		.music1{
			top: 1%;
			position: absolute;
			margin:15px;
			left: 80%;
			cursor: pointer;
			
		}
		.player {
			width: 45%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
		}
		.controls {
			width: 40%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: 20px;
		}
		#slider {
			width: 100%;
			font-size: 12px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: center;
			margin-top: 5px;
		}
		.time {
			margin: 0px 10px;
		}
		
		.slidecontainer {
			width: 100%;
		}
		.slider {
			-webkit-appearance: none;
			width: 100%;
			height: 5px;
			background: #d3d3d3;
			outline: none;
			opacity: 0.5;
			-webkit-transition: 0.2s;
			transition: opacity 0.2s;
		}
	
		.slider:hover {
			opacity: 1;
		}
		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			background: #007bff;
			cursor: pointer;
		}
		.slider::-moz-range-thumb {
			width: 25px;
			height: 25px;
			background: #4caf50;
			cursor: pointer;
		}
		.music-icons {
			width: 30%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
	}
	@media screen and (max-width: 768px){

		.header{
			 display: flex;
			 flex-wrap:wrap ;
			 margin-left: 2.5%;
			 
		
		}
		#logo{
			width: 30%;
			height: auto;
			margin-left: -3%;
		}
		.header h3{
			 color:lightgrey;
			 position: absolute;
			 top:10%;
		}
		form{
			width: 45%;
			position: absolute;
			margin:2.6%;
			background-color: #13193f;
			border-radius: 10px;
			padding: 5px;
			top: 2%;
		}
		#search{
			background:transparent ;
			border-style: none;
		}
		.magnifier{
		
			color: whitesmoke;
			padding: 2px;
		
		}
		.microphone{
			color:#93a8b3;
			position: absolute;
			padding: 7px;
			right: 1%;
			
		}
		.fa-bell{
			position: absolute;
			color:whitesmoke;
			right: 12%;
			top: 5.5%;
		}
		#dot{
			color: red;
			position: absolute;
			font-weight: 900;
			font-size: 2.5rem;
			right: 11%;
			top: 0.1%;
		}
		#ADMieola{
			position: absolute;
			max-width: 100%;
			width: 35px;
			height: auto;
			border-radius: 50%;
			right: 3%;
			top: 3.8%;
		}
		/*main.............................*/
		/*	Aside Section.........................*/
		#Queue-font{
			font-size: 25px;
			color: whitesmoke;
		}
		.aside{
			 display: inline-block;
			vertical-align: top;
			margin-right: 3%;
			width: 30%;
		/*    border: 2px solid white;*/
			float: right;
			position: relative;
			right: 0%;
			top: 8%;
			
		}
		aside {
			vertical-align: top;
			margin-right: 3%;
			width: 29%;
		/*    border: 2px solid white;*/
			float: right;
			position: fixed;
			right: 0%;
			top: 20%;
			height: 63vh;
		
		/*    height: 85vh;*/
			overflow: scroll;
		}
		.Queue-list{
			width: 90%;
			position: relative;
		/*	border: 1px solid white;*/
			min-height: 50px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			height: auto;
		}
		aside span{
			color: whitesmoke;
			align-content: center;
			text-align:center ;
			position: sticky !important;
			display: flex;
			flex-wrap: wrap;
			padding: 0px 10px 0px 5px;
			font-size: 11px;
		/*	align-items: center;*/
		
		}
		aside::-webkit-scrollbar {
			display: none;
		}
		aside span p{
				font-size: 10px ;
				padding: 0px 0px 0px 10px;
				position: relative;
		}
		.Queue-list img{
			height: 40px;
			width: 40px;
			border-radius: 3px;
			position: relative;
			}
		.fa-heart{
			position: absolute;
			right: 2%;
		
			}
		.heart:hover{
			color: red;
			text-shadow:  0px 0px 10px whitesmoke;
			cursor: pointer;
		}	
		.play-button-queue{
			background-color: black;
			height: 40px;
			width: 30px;
			border-radius: 3px;
			opacity: 0;
			align-items: center;
			justify-content: center;
			position: absolute;
			right:80% ;
		
		
		
		}
		.play-button-queue:hover {
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.5);
		}
		.Queue-list-options {
			position: fixed;
			display: flex;
			flex-wrap: wrap;
			justify-content: right;
			left: 76%;
			z-index: 1;
		
		}
		#Queue-font {
			left: 70%;
			top: 12%;
			position:fixed;
			display: flex;
			flex-wrap: wrap;
		 }
		 #Queue{
			 left: 85%;
			 position: fixed;
			 font-size: 20px;
			 padding: 10px;
			 color: #fa3cff;
			 font-weight: 600;
		
		 }
		
		.Queue-dropdown {
			position: relative;
			background-color: darkslateblue;
			display: inline-block;
			opacity: 0;
			width: 0px;
			height: 0px;
			top: 45px;
			right: 0px;
			overflow: hidden;
			z-index: 2;
			border: 1px solid black;
			box-shadow: 0px 0px 2px 1px black;
			transition: all ease-in-out 0.3s;
			border-radius: 2px;
			padding-top: 30px;
		}
		.fa-chevron-down {
			cursor: pointer;
		}
		input[type="checkbox"] {
			display: none;
		}
		input[type="checkbox"]:checked ~ .Queue-dropdown {
			width: 150px;
			height: auto;
			opacity: 1;
			padding: 5px;
		}
		
		/*	Genres.........................*/
		.Genres{
			width: 65%;
			margin: 3%;
			margin-top: 0%;
			display: flex;
			flex-wrap:wrap ;
		/*	border: 2px solid white;*/
			justify-content: space-evenly;
		
			
		
		}
		.Genres img{
			margin: 10px;
			 transition: 0.4s ease-in-out all;
		/*	 border-radius: 5px;*/
			height:250px ;
		
		
		
		}
		.Genres img:hover{
		   filter: brightness(130%);
		   transform: scale(1.12);
		
		}
		
		
		/*Latest Release............................*/
		
		.font{
			color: whitesmoke;
			margin-left: 3%;
			}
		
		.latest-release {
			position: relative;
			height: auto;
			width: 65%;
			margin-left: 3%;
			 display: flex;
			flex-wrap: wrap;
		}
		.card {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			transition: box-shadow ease-in-out 0.1s;
			height: 100px;
			width: 47%;
			margin:0.5%;
		}
		.card:hover {
			box-shadow: 0px 0px 2px 1px white;
		}
		.card img {
			width: 60px;
			height: 60px;
			z-index: 1;
		}
		.play-button{
			position: relative;
			background-color: black;
		/*	align-content: center;*/
			width: 50px;
			height: 50px;
			top: -51%;
			display: flex;
			opacity: 0;
			align-items: center;
			justify-content: center;
			  /*top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  text-shadow: 1px 1px black;*/
		
		}
		.play-button:hover{
			opacity: 1;
			width: 60px;
			height: 60px;
			background-color: rgba(0, 0, 0, 0.6);
		}
		.song-description{
				display: flex;
				left: 28%;
				top: 80%;
				justify-content: space-between;
				/* position: absolute;
				text-align: left;
				  top: 50%;
				  left: 35%;
				  transform: translate(-50%, -50%); */
		}
		.options {
			position: relative;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap-reverse;
			text-align: right;
			margin-left: auto;
			margin-right: 2%;
			margin-top: 2%;
			text-align: left;
		
		}
		.latest-release-dropdown {
			position: absolute;
			background-color: darkslateblue;
			display: block;
			opacity: 0;
			width: 0px;
			height: 0px;
			top: 20px;
			right: 0px;
			overflow: hidden;
			z-index: 2;
			border: 1px solid black;
			box-shadow: 0px 0px 2px 1px black;
			transition: all ease-in-out 0.3s;
			border-radius: 2px;
		
		}
		.fa-ellipsis-h {
			cursor: pointer;
		}
		input[type="checkbox"] {
			display: none;
		}
		input[type="checkbox"]:checked ~ .latest-release-dropdown {
			width: 150px;
			height: auto;
			opacity: 1;
			padding: 5px;
		}
		/*	Popular-Artist.........................*/
			.Popular-Artist{
				width: 60%;
				height: auto;
				position: relative;
				margin-left: 3%;
		/*		border: 2px solid white;*/
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.Artist-containers{
				width:30%;
		/*		border: 2px solid white ;*/
				height: 160px;
				display: flex;
				flex-wrap: wrap;
				position: relative;
				text-align: center;
				color: whitesmoke;
		
			}
			.Artist-containers img{
				width: 120px;
				border-radius: 50%;
			}
			.Artist-containers:hover img{
				filter: brightness(70%);
				transition: 0.2s ease-in-out all;
				cursor: pointer;
			}
		/*stations............................*/
			.stations{
				width: 60%;
				position: relative;
				margin-left: 3%;
				margin-top: 2%;
		/*		border: 2px solid white;*/
				display: flex;
				flex-wrap: wrap;
				background-color: #13193f;
			   justify-content: space-evenly;
			   border-radius: 20px;
				
			}
			.stations-list{
				position: relative;
				width: 25%;
		/*		border: 2px solid white;*/
				display: flex;
				flex-wrap: wrap;
				align-content: center;
				min-height: 120px;
				max-height: 130px;
				
		
		
			}
			.stations-list img{
				height: 100px;
				align-content: center;
				border-radius: 50%;
				filter: brightness(50%);
			
			}
			.single{
				width: 90%;
				align-content: center;
				display: flex;
				justify-content: center;
			}
			#single{
				height:auto ;
				width: 200px;
		
				filter: brightness(100%);
			}
			.station-text{
		/*		text-align: center;*/
				color: whitesmoke;
				position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  text-shadow: 1px 1px black;
			}
			/*Mood............................*/
		
			#Mood{
		
				width: 60%;
				position: relative;
				margin-left: 3%;
		/*		border: 2px solid white;*/
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 2%;
			}
			.Mood{
				min-height: 60px;
				width: 31.5%;
		/*		border: 2px solid white;*/
				position: relative;
				overflow: hidden;
				transition: 0.4s ease-in-out all;
			}
			.Mood img{
				height: 80px;
				width: 260px;
				transition: 0.4s ease-in-out all;
			}
			.Mood-text{
		/*		text-align: center;*/
				color: whitesmoke;
				position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  text-shadow: 1px 1px black;
				  font-weight: 600;
				  font-size: 12px;
			}
			.Mood img:hover{
				transform: scale(1.2);
				transition: 0.4s ease-in-out all;
			}
		/*latest-english and Hindi.I am using same class for both............................  .....................*/
			#latest-english-hindi{
				width: 60%;
				display: flex;
				flex-wrap: wrap;
				margin-left: 3%;
				margin-right: 2%;
		/*		border: 2px solid white;*/
				justify-content: space-between;
			}
			.latest-english-hindi-list{
				min-height: 250px;
				width:30%;
		/*		border: 2px solid white ;*/
				display: flex;
				flex-wrap: wrap;
				transition: 0.2s ease-in-out all;
			}
			.latest-english-hindi-list img{
				height: 150px;
				width: auto;
				border-radius: 1px;
			}
			.latest-english-hindi-list span{
				color: whitesmoke;
				font-size: 5px !important;
			}
		
			.latest-english-hindi-list:hover img{
				box-shadow: 0px 0px 10px 1px whitesmoke;
				transition: 0.2s ease-in-out all;
			}
			/* music-player ---------------------------------------------------*/
			#footer{
				position: relative;
				/* border: 2px solid red; */
				margin-top: 10%;
			}
			.music-player{
				width: 99%;
				height: 10%;
				background-color: #13193f;
				position: fixed;
				/* vertical-align: bottom; */
				min-height: 100px;
				/* border: 2px solid white; */
				display: flex;
				flex-wrap:wrap ;
				z-index: 9;
				float: bottom;
				justify-content: space-between;
				box-sizing: border-box;
				bottom: 0.1px;
			}
			#song-description2{
				width:20%;
				display: flex;
				flex-wrap:wrap ;
				/* justify-content: center; */
				align-items: center;
				/* border: 2px solid wheat; */
				position: absolute	
				justify-content: center;
				
			}
			#song-description2 img{
				height: 60px;
				position: relative;
				padding: 0px 28px 0px 28px;	
					
			}
			.music{
				top: 1%;
				position: absolute;
				margin:15px;
				left: 100%;
				cursor: pointer;
				
			}
			.music1{
				top: 1%;
				position: absolute;
				margin:15px;
				left: 80%;
				cursor: pointer;
				
			}
			.player {
				width: 45%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				flex-wrap: nowrap;
			}
			.controls {
				width: 40%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				font-size: 20px;
			}
			#slider {
				width: 100%;
				font-size: 12px;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: center;
				margin-top: 5px;
			}
			.time {
				margin: 0px 10px;
			}
			
			.slidecontainer {
				width: 100%;
			}
			.slider {
				-webkit-appearance: none;
				width: 100%;
				height: 5px;
				background: #d3d3d3;
				outline: none;
				opacity: 0.5;
				-webkit-transition: 0.2s;
				transition: opacity 0.2s;
			}
		
			.slider:hover {
				opacity: 1;
			}
			.slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 17px;
				height: 17px;
				border-radius: 50%;
				background: #007bff;
				cursor: pointer;
			}
			.slider::-moz-range-thumb {
				width: 25px;
				height: 25px;
				background: #4caf50;
				cursor: pointer;
			}
			.music-icons {
				width: 30%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
		}
		



















